<link rel="stylesheet" href="/stylesheets/image-upload.css">
<link rel="stylesheet" href="/stylesheets/singlepost.css">
<main>
    <div class="container col-12">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="card mt-3 drop-shadow" id="post-image-card">
                    <img id="post-image" src="{{post.image_url}}" class="card-img-top">
                </div>
                <div class="card mt-1 drop-shadow">
                    <p>{{post.post_caption}}</p>
                </div>
                <!-- shows amount of post likes -->
                <p>{{post.like_count}} like(s)</p>
                <div class=" align-text-middle card inline-block mt-1 drop-shadow justify-right">
                    <p class="inline-block">{{post.user.username}}</p>
                    <a class="inline-block dot " href="https://github.com/"></a>
                    <button type="button" class="btn btn-primary" id="like-btn">Like</button>
                </div>
            </div>
            {{!--Comment stuff --}}
            <div class="col-lg-4 col-sm-12">
                <div class="form-group py-3  ">
                    {{#if loggedIn}}
                    {{!-- if user is loggedIn, display the following --}}
                    <textarea placeholder="Comment" class=" form-control py-2 drop-shadow" rows="3"
                        id="comment"></textarea>
                    {{/if}}
                    {{!-- retrieving user_id and hiding because (user id will display on html) user_id is needed to
                    create comment --}}
                    <input type="hidden" value={{user_id}} id="session_user">
                    {{!-- Make post button --}}
                    {{#if loggedIn}}
                    <div class="col-lg-2">
                        <button id="post-comment" type="button"
                            class="my-3 mx-0  px-5 py-4 btn btn-light ">Post</button>
                    </div>
                    {{/if}}
                </div>
                {{#if post.comments}}
                <select class="form-select drop-shadow" size="8" aria-label="size 8 select example">
                    {{#each post.comments as |comment| }}
                    <option class="text py-3">
                        <div class="text card box-border mt-1 drop-shadow">
                            <p class="">{{comment_text}} - </p>
                            <p>{{user.username}}</p>

                        </div>
                    </option>
                    {{/each}}
                </select>
                {{/if}}
            </div>

        </div>

    </div>
</main>
{{!-- Cloudinary upload widget --}}
{{!--
<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"> --}}
</script>

<script src="/javascript/comment.js"></script>
<script src="/javascript/like.js"></script>