<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/singlepost.css">
</head>

<body>
    <main>
        <div class="flex-container">
            <div class="col-md-6 mt-4">

                {{!-- post image --}}
                <div class = "row">
                    <img id="post-image" src="{{post.image_url}}" class="card-img-top">
                </div>

                {{!-- amount of likes post has --}}
                <div class="row">
                    <button id="like-count" class="btn btn-like"><i class="far fa-heart enhance-heart"></i></button>
                    <p class="like-display">{{post.like_count}} 1,345</p>
                </div>

                {{!-- user who posted image --}}
                <div id = "post-info-large" class="row">
                    <div id="profile-col">
                        <a class="inline-block dot " href="https://github.com/"></a>
                    </div>
                    <p class="post-caption"><strong class="post-username">{{post.user.username}}</strong> -
                        {{post.post_caption}}</p>
                </div>
            </div>


            {{!-- comment text area--}}
            <div class="col-md-6 p-auto">
                <div class="caption-wrapper">
                    <form class="offset-lg-3">
                        <div class="form-group">
                            {{#if loggedIn}}
                            <h3 class="comment-title">Comment</h3>
                            <textarea placeholder="it's a hard time for everyone, be nice to people!" id="comment"
                                class="text-area-background" rows="3" id="comment"></textarea>
                            <input type="hidden" value={{user_id}} id="session_user">
                            <button id="post-comment" class="btn btn-success" type="button">Post!</button>
                            {{/if}}
                        </div>

                        {{!-- comment section scroll--}}
                        {{#if post.comments}}
                        <div class="scroll">
                            {{#each post.comments as |comment| }}
                            <div class="container">
                                <div class="card-header row pl-lg-2">
                                    <div class = "pt-lg-2">
                                    <a class="dot" href="https://github.com/"></a> {{!-- user who commented profile --}}
                                    </div>
                                    <div class="comment-username pl-lg-1 pt-lg-3"> {{!-- username of person who commented --}}
                                     <p>{{user.username}}</p>
                                     </div>
                                </div>
                                <div class="card-body custom-scrollbar">
                                    <p class="card-text">{{comment_text}}</p> {{!-- actual comment --}}
                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                        </div>
                    </form>

                    {{!-- being used in JS -- to pass value from ROUTE to JS--}}
                    <input type="hidden" value={{user_id}} id="user_id">
                    <input type="hidden" value={{user_id}} id="session_user">
                </div>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {{!--
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"> --}}
    </script>
    <script src="./javascript/image.js"></script>
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/like.js"></script>
</body>