<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/singlepost.css">
</head>

<body>
    <main>
        <div class="flex-container">
            <div class="caption-section-wrapper">
                {{!-- the post caption needs to be a heading --}}

                {{!-- post image --}}
                <img id="post-image" src="{{post.image_url}}" class="card-img-top">
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <p id="like-count"><i class="far fa-heart"></i>{{post.like_count}} 1,345</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-1">

                        {{!-- need to be added to css for styling--}}
                        <button type="button" class="btn btn-like"><i class="far fa-heart"></i></button>
                    </div>
                </div>


                {{!-- profile pic --}}
                <div class="row">
                    <div class="user-caption">
                        <div class="col-4 col-lg-2" id="profile-col">
                            <a class="inline-block dot " href="https://github.com/"></a>
                        </div>
                    </div>
                </div>

                {{!-- post username and post caption --}}
                <div class="row">
                    <div class="col-12 col-lg-12" id="user-col">
                        {{post.user.username}} - {{post.post_caption}}
                    </div>
                </div>
            </div>

            {{!-- comment text area--}}
            <div class=" caption-section-wrapper">
                <div class="caption-wrapper my-auto">
                    <form class="caption-form">

                        <div class="form-group ">
                            {{#if loggedIn}}
                            <h3 class="comment">Comment</h3>
                            <textarea placeholder="Comment" id="comment" class="form-control" rows="3"
                                id="comment"></textarea>
                            <input type="hidden" value={{user_id}} id="session_user">
                            <button id="post-comment" class="btn btn-success " type="button">Post!
                            </button>
                            {{/if}}
                        </div>

                        {{!-- comment section scroll--}}
                        {{#if post.comments}}
                        <div class="scroll">
                            {{#each post.comments as |comment| }}
                            <div class="card">
                                <div class="card-header"> {{user.username}}
                                    <a class="inline-block dot " href="https://github.com/"></a>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"> {{comment_text}}</p>

                                </div>
                            </div>
                            {{/each}}
                            {{/if}}
                        </div>
                    </form>

                    {{!-- being used in JS -- to pass value from ROUTE to JS--}}
                    <input type="hidden" value={{user_id}} id="user_id">
                    <input type="hidden" value={{user_id}} id="session_user">
                </div>
            </div>
        </div>
    </main>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {{!--
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"> --}}
    </script>
    <script src="./javascript/image.js"></script>
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/like.js"></script>
</body>